<section ng-controller="CodeCtrl">
<!-- 	<div class="code">
		<textarea ui-codemirror="options" ng-model="code"></textarea>
	</div>
	<div class="insight">
		<textarea ui-codemirror="options" ng-model="insight"></textarea>
	</div> -->

	<div class="color-test earth">earth</div>
	<div class="color-test light-earth">TEST</div>
	<div class="color-test fire">TEST</div>
	<div class="color-test sky">TEST</div>
	<div class="color-test light-earth">TEST</div>
	<div class="color-test earth">earth</div>
</section>